@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'header';
@import 'footer';
@import 'buttons';

@import 'home';


html{
    overflow-x: hidden;
    &.opened{
        overflow-y: hidden;        
        @include media-breakpoint-up(md){
            overflow-y: unset;
        }
    }
}
html *:not(.no-animated):not(.slick-track):not(.slick-slide),
html *:not(.no-animated):not(.slick-track):not(.slick-slide)::after,
html *:not(.no-animated):not(.slick-track):not(.slick-slide)::before {
    transition: all .15s ease-out;
}
body{
    background-color: $white;
}
.know-more{
    max-width: max-content;
    display: inline-flex;
    font-family: Space Grotesk;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $black;
    text-decoration: none;
    gap: 5px;
    &:hover{
        text-decoration: underline;
        justify-content: center;
        align-items: center;
        color: $black;
        gap: 15px;
    }
}
.tns-outer{
    position: relative;
    .tns-ovh{
        z-index: 1;
    }
    .tns-nav{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: -40px;
        margin-bottom: 20px;
        z-index: 2;
        height: 22px;
        @include media-breakpoint-up(md){
            margin-top: -80px;
            margin-bottom: 60px;
        }
        button{
            padding: 0;
            display: block;
            height: 12px;
            width: 12px;
            background-color: $white;
            border: 6px solid $black;
            border-radius: 20px;
            box-sizing: border-box;
            @include media-breakpoint-up(md){
                border: 7px solid $black;
                height: 14px;
                width: 14px;
            }
            &:hover{
                background-color: $white;
                border: 2px solid $black;
                @include media-breakpoint-up(md){
                    height: 18px;
                    width: 18px;
                    
                }
            }

            &.tns-nav-active{
                height: 18px;
                width: 18px;
                border: 9px solid $black;
                @include media-breakpoint-up(md){
                    height: 22px;
                    width: 22px;
                    border: 11px solid $black;
                }

            }
        }
    }
}
.custom-container {
    @include make-container(xl);
}